In [1]:
# Unpacking
x = ('Jared', 'Early', 'email@email.com')
fname, lname, email = x

In [2]:
fname

'Jared'

# More on Strings

In [4]:
sales_record = {'price':3.24, 'num_items': 4, 'person':'Jared'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'], 
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Jared bought 4 item(s) at a price of 3.24 each for a total of 12.96

# Reading and Writing CSV Files

In [5]:
import csv
%precision 2

'%.2f'

In [6]:
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [7]:
mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

We can see that the dictionaries have keys that match the column names of the csv and the values in the dictionary are the values from each row in the csv.

In [10]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Imagine we wanted to find the average city mpg across all cars.

In [11]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Let's say we wanted to know the average city mpg of cars grouped by the number of cylinders.

In [12]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [13]:
CtyMpgByCyl = []

for c in cylinders:
    summpg = 0
    cylTypeCount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cylTypeCount += 1
    CtyMpgByCyl.append((c, summpg / cylTypeCount))
    
CtyMpgByCyl.sort(key = lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

Now say that we are interested in the different highway mpg for each vehicle class type

In [14]:
vehicleClass = set(d['class'] for d in mpg)
vehicleClass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [15]:
HwyMpgByClass = []

for t in vehicleClass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all the dictionaries
        if d['class'] == t:
            summpg += float(d['hwy'])
            vclasscount += 1
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')
    
HwyMpgByClass.sort(key = lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

# Python Dates and Times

In [17]:
import datetime as dt
import time as tm

In [18]:
tm.time()

1625396468.26

In [19]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 7, 4, 7, 2, 3, 656058)

In [20]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2021, 7, 4, 7, 2, 3)

In [21]:
delta = dt.timedelta(days = 100)
today = dt.date.today()
today - delta

datetime.date(2021, 3, 26)

# Advanced Python: Objects, map()

In [22]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

Say we have two lists of numbers that are prices from two different stores for the same items. We want to find the minimum we would have to pay if we bought the cheaper item between the two stores.

In [23]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]

cheapest = map(min, store1, store2)
cheapest

The map function returns a map object (doing this is called lazy evaluation). It doesn't actually try to run min() on the lists until you try to look inside. This allows for very efficient memory management.

In [24]:
list(cheapest)

[9.00, 11.00, 12.34, 2.01]

In [35]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split(' ')[0] + ' ' + person.split(' ')[-1]

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Lambda and List Comprehension

Lambda is how we create anonymous functions in Python.

In [36]:
my_function = lambda a, b, c: a+b

In [37]:
my_function(1,2,3)

3

In [38]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)

In [39]:
my_list = [number for number in range(0,1000) if number % 2 == 0]